<footer class="clearfix fixed-bottom text-right p-0 m-0" style="opacity: 0.4; filter: alpha(opacity=40);">
    <p class="p-0 m-0" style="display: block; position: fixed; right: 1px; bottom: 15px;">
        <small>
            <a href="https://www.facebook.com/recepcao" target="blank">@recepcao</a> &copy; Copyright ({{ano}})
        </small>
    </p>
    <p class="p-0 m-0" style="display: block; position: fixed; right: 1px; bottom: 1px;">
        <small>
            nosso e-mail <a href="mailto:recepcao@gmail.com">recepcao@gmail.com</a>
        </small>
    </p>
</footer>