<p>Relação de Funcionário</p>
<button class="btn btn-primary" [routerLink]="['./novo']">Incluir</button>
<button class="btn btn-primary" [routerLink]="['./filtro']">Filtrar</button>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>cpf/ cnpj</th>
                <th>email</th>
                <th>contato 1</th>
                <th>contato 2</th>
                <th>contato 3</th>
                <th rowspan="2">Ação</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of dados; let i = index">
                <tr>
                    <td>{{i + 1}}.</td>
                    <td>
                        <img class="img-thumbnail" src="data:image/png;base64,{{item.visitante.foto}}" *ngIf="item.visitante?.foto">
                    </td>
                    <td>{{item.nome}}</td>
                    <td>{{item.funcionarioTipo}}</td>
                    <td>{{item.cpfCnpj}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.contato1}}</td>
                    <td>{{item.contato2}}</td>
                    <td>{{item.contato3}}</td>
                    <td>
                        <button class="btn btn-secondary" [routerLink]="['./', item.id]">Ver</button>
                    </td>
                </tr>
                <tr *ngIf="item.funcionarioEnderecoList.length && false">
                    <td colspan="9">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <td>Logradouro</td>
                                        <td>Complemento</td>
                                        <td>Número</td>
                                        <td>Bairro</td>
                                        <td>Cidade</td>
                                        <td>UF</td>
                                        <td>CEP</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let subItem of item.funcionarioEnderecoList; let j = index">
                                        <td>{{i + 1}}.{{j + 1}}.</td>
                                        <td>{{subItem.endereco.logradouro}}</td>
                                        <td>{{subItem.endereco.complemento}}</td>
                                        <td>{{subItem.endereco.numero}}</td>
                                        <td>{{subItem.endereco.bairro}}</td>
                                        <td>{{subItem.endereco.cidade}}</td>
                                        <td>{{subItem.endereco.uf}}</td>
                                        <td>{{subItem.endereco.cep}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
{{dados | json}}
