<p>Relação de Visitantes</p>
<button class="btn btn-primary" (click)="incluir()">Incluir</button>
<!-- <button class="btn btn-primary" [routerLink]="['./filtro']">Filtrar</button> -->
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>CPF</th>
                <th>Foto</th>
                <th>Visitante</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Entidade Representante</th>
                <th>Saída</th>
                <th>Registrado Por</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dados.controls; let i = index">
                <td>{{i + 1}}.</td>
                <ng-container *ngIf="!item.editar">
                    <td>{{item.value.visitante?.pessoa?.cpfCnpj}}</td>
                    <td>
                        <img *ngIf="item.value.visitante?.foto"
                            src="{{item.value.visitante.foto ? 'data:image/jpg;base64,' + item.value.visitante.foto: ''}}"
                            width="50" height="50" alt="Foto do visitante" />
                    </td>
                    <td>{{item.value.visitante?.nome}}</td>
                    <td>{{item.value.telefone}}</td>
                    <td>{{item.value.email}}</td>
                    <td>{{item.value.entidadeRepresentante?.nome}}</td>
                    <td>{{item.value.saida | date: 'EEEE, dd/MM/yyyy HH:mm'}}</td>
                    <td>{{item.value.saidaUsuario?.login}}</td>
                </ng-container>

                <ng-container *ngIf="item.editar" [formGroup]="item">
                    <td>
                        <ng-container formGroupName="visitante" *ngIf="!item?.value?.visitante?.pessoa?.cpfCnpj">
                            <ng-container formGroupName="pessoa">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="cpfCnpj" placeholder="CPF"
                                        aria-label="CPF" aria-describedby="CPF do visitante" [(ngModel)]="cpfPesq"
                                        [ngModelOptions]="{standalone: true}">
                                    <button class="btn btn-outline-secondary" type="button"
                                        (click)="encontraVisitante($event, cpfPesq, item)"
                                        [disabled]="!cpfPesq.trim().length">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="item?.value?.visitante?.pessoa?.cpfCnpj">
                            {{item.value.visitante.pessoa.cpfCnpj}}
                        </ng-container>
                    </td>
                    <td>
                        <img *ngIf="item.value.visitante?.foto"
                            src="{{item.value.visitante.foto ? 'data:image/jpg;base64,' + item.value.visitante.foto: ''}}"
                            width="50" height="50" alt="Foto do visitante" />
                    </td>
                    <td>{{item.value.visitante.pessoa.nome}}</td>
                    <td>
                        <input type="text" class="form-control" id="telefone" placeholder="(99) 9999-9999"
                            formControlName="telefone" *ngIf="item?.value?.visitante?.pessoa?.cpfCnpj">
                    </td>
                    <td>
                        <input type="email" class="form-control" id="email" placeholder="usuario@dominio"
                            formControlName="email" *ngIf="item?.value?.visitante?.pessoa?.cpfCnpj">
                    </td>
                    <td>
                        <select class="form-control" id="entidadeRepresentante" formControlName="entidadeRepresentante"
                            [compareWith]="idListComparar" *ngIf="item?.value?.visitante?.pessoa?.cpfCnpj">
                            <option *ngFor="let subitem of entidadeRepresentanteList" [ngValue]="subitem">
                                {{subitem.nome}}</option>
                        </select>
                    </td>
                    <td>
                        <ng-container *ngIf="item?.value?.visitante?.pessoa?.cpfCnpj">
                            <input type="datetime-local" class="form-control" id="saida" placeholder="Saída"
                                formControlName="saida">
                            <button class="btn btn-secondary btn-sm" (click)="setSaida(item)">Agora</button>
                            <button class="btn btn-light btn-sm" (click)="limparSaida(item)">Limpar</button>
                        </ng-container>
                    </td>
                    <td>{{item.value.saidaUsuario?.login}}</td>
                </ng-container>
                <td>
                    <button class="btn btn-primary" (click)="item.editar = !item.editar">{{item.editar ? 'Salvar' :
                        'Editar'}}</button>
                    <button class="btn btn-primary" (click)="excluir(i)" *ngIf="!item.editar">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{{dados.value | json}}