<p>Formulário Pessoa</p>
<button class="btn btn-primary" [routerLink]="['../novo']">Incluir</button>
<button class="btn btn-primary" [routerLink]="['./filtro']">Filtrar</button>
<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <div class="form-group">
            <label for="entradaLocal">Tipo de Pessoa</label>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pessoaTipo" id="pessoaTipoPF" value="PF"
                        formControlName="pessoaTipo" />
                    <label class="form-check-label" for="pessoaTipoPF">Pessoa Física</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pessoaTipo" id="pessoaTipoPJ" value="PJ"
                        formControlName="pessoaTipo" />
                    <label class="form-check-label" for="pessoaTipoPJ">Pessoa Jurídica</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome">
        </div>
        <div class="form-group">
            <label for="cpfCnpj">CPF/CNPJ</label>
            <input type="text" class="form-control" id="cpfCnpj" formControlName="cpfCnpj">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="contato1">Número de Contato (1)</label>
            <input type="text" class="form-control" id="contato1" formControlName="contato1">
        </div>
        <div class="form-group">
            <label for="contato2">Número de Contato (2)</label>
            <input type="text" class="form-control" id="contato2" formControlName="contato2">
        </div>
        <div class="form-group">
            <label for="contato3">Número de Contato (3)</label>
            <input type="text" class="form-control" id="contato3" formControlName="contato3">
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" (click)="incluirPessoaEndereco()">Incluir</button>
            <table class="table" formArrayName="pessoaEnderecoList">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>CEP</th>
                        <th>Logradouro</th>
                        <th>Complemento</th>
                        <th>Número</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>Acao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of formulario.controls.pessoaEnderecoList['controls']; index as i">
                        <ng-container *ngIf="!item.editar">
                            <td>{{i + 1}}.</td>
                            <td>{{item.value.endereco.cep}}</td>
                            <td>{{item.value.endereco.logradouro}}</td>
                            <td>{{item.value.endereco.complemento}}</td>
                            <td>{{item.value.endereco.numero}}</td>
                            <td>{{item.value.endereco.bairro}}</td>
                            <td>{{item.value.endereco.cidade}}</td>
                            <td>{{item.value.endereco.uf}}</td>
                            <td>
                                <button class="btn btn-secondary" (click)="item.editar = true">Editar</button>
                                <button class="btn btn-secondary" (click)="excluirPessoaEndereco(i)">Excluir</button>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="item.editar" [formGroupName]="i">
                            <ng-container formGroupName="endereco">
                                <td>{{i}}.</td>
                                <td><input type="text" class="form-control" placeholder="CEP" formControlName="cep">
                                </td>
                                <td><input type="text" class="form-control" placeholder="Logradouro"
                                        formControlName="logradouro"></td>
                                <td><input type="text" class="form-control" placeholder="Complemento"
                                        formControlName="complemento"></td>
                                <td><input type="text" class="form-control" placeholder="Número"
                                        formControlName="numero"></td>
                                <td><input type="text" class="form-control" placeholder="Bairro"
                                        formControlName="bairro"></td>
                                <td><input type="text" class="form-control" placeholder="Cidade"
                                        formControlName="cidade"></td>
                                <td><input type="text" class="form-control" placeholder="UF" formControlName="uf"></td>
                                <td><button class="btn btn-secondary" (click)="item.editar = false">Salvar</button></td>
                            </ng-container>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="eFuncionario">
                É funcionário?
            </label>
            <input class="form-check-input" type="checkbox" id="eFuncionario" [(ngModel)]="eFuncionario"
                [ngModelOptions]="{standalone: true}">
        </div>
        <ng-container *ngIf="eFuncionario" formGroupName="funcionario">
            <div class="form-group">
                <label for="matricula">Matricula</label>
                <input type="text" class="form-control" id="matricula" formControlName="matricula">
            </div>
            <div class="form-group">
                <label for="ramal">Ramal</label>
                <input type="text" class="form-control" id="ramal" formControlName="ramal">
            </div>
        </ng-container>
        <div class="form-check">
            <label class="form-check-label" for="eVisitante">
                É visitante?
            </label>
            <input class="form-check-input" type="checkbox" id="eVisitante" [(ngModel)]="eVisitante"
                [ngModelOptions]="{standalone: true}">
        </div>
        <ng-container *ngIf="eVisitante" formGroupName="visitante">
            <div class="form-group">
                <label for="ramal">Foto</label>
                <div class="form-control">
                    <img class="img-thumbnail" src="data:image/png;base64,{{formulario.value.visitante.foto}}" *ngIf="formulario.value.visitante?.foto">
                    <button class="btn-button success" (click)="carregarFoto()">Carregar</button>
                </div>
            </div>
        </ng-container>
        <button class="btn btn-primary" type="submit">Salvar</button>
        <button class="btn btn-primary" [routerLink]="['../']">Cancelar</button>
    </form>
</div>