<p>Relação de Pessoa</p>
<button class="btn btn-primary" [routerLink]="['./novo']">Incluir</button>
<button class="btn btn-primary" [routerLink]="['./filtro']">Filtrar</button>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>cpf/ cnpj</th>
                <th>email</th>
                <th>contato 1</th>
                <th>contato 2</th>
                <th>contato 3</th>
                <th rowspan="2">Ação</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of dados; let i = index">
                <tr>
                    <td>{{i + 1}}.</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.pessoaTipo}}</td>
                    <td>{{item.cpfCnpj}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.contato1}}</td>
                    <td>{{item.contato2}}</td>
                    <td>{{item.contato3}}</td>
                    <td>
                        <button class="btn btn-secondary" [routerLink]="['./', item.id]">Ver</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead class="table-light">
                                    <tr>
                                        <th></th>
                                        <th>Endereço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let subItem of item.pessoaEnderecoList; let j = index">
                                        <td>{{i + 1}}.{{j + 1}}.</td>
                                        <td>{{subItem.endereco}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
{{dados | json}}
