<div class="jumbotron mt-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="./assets/img/tema.jpeg" style="width: 75%">
            </div>
            <!-- <div class="col-8">
                <h1 class="display-4">Laço de Amor!</h1>
                <p class="lead">Nada torna um rosto <b>mais saudável</b> que a <b>máscara da bondade</b>.</p>
                <hr class="my-4">
                <h5><b>Adquira sua máscara.</b></h5>
                <p>Se cuidar também é um ato de amor.</p>
                <p>Se proteja e proteja quem você ama.</p>
            </div> -->
        </div>
    </div>
</div>